@charset "UTF-8";
.constructor {
  padding: 0 12px 0 12px;
  margin-bottom: 60px;
}

.constructor__title {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 20px;
}
.constructor__title .designate-text-gold {
  color: #ffbe0b;
  font-weight: 600;
}

.constructor__body {
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 18px;
  -webkit-box-shadow: -5px -5px 15px #ccc, -2px -2px 10px #ccc inset;
          box-shadow: -5px -5px 15px #ccc, -2px -2px 10px #ccc inset;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 150ms ease-in 5s;
  transition: all 150ms ease-in 5s;
}
.constructor__body:hover {
  -webkit-box-shadow: 5px 5px 10px #ccc;
          box-shadow: 5px 5px 10px #ccc;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
.constructor__body .body__constructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.constructor__good-img {
  width: 60%;
  position: relative;
  overflow: hidden;
  max-height: 564px;
  z-index: 0;
}
.constructor__good-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.constructor__good-img .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  font-size: 16px;
  text-align: justify;
  cursor: move;
  display: none;
  z-index: 1;
  font-family: "Rubik", sans-serif;
}
.constructor__good-img .text-overlay.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.constructor__good-img .good-img__uoloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: dashed 1px #2b2727;
  height: 30%;
  max-height: 50%;
  max-width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.good-img__radio-color {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 6px;
  border-top-left-radius: 12px;
  background-color: white;
  z-index: 5;
}
.good-img__radio-color input {
  display: none;
}
.good-img__radio-color .radio-color__radio {
  display: inline-block;
  height: 10px;
  width: 35px;
  border-radius: 4px;
  border: solid 1px #ccc;
  margin: 0 2px 0 2px;
  padding: 2px 4px;
  cursor: pointer;
  -webkit-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.good-img__radio-color .radio-color__radio:hover {
  height: 14px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.good-img__radio-color .radio-color__radio.radio-color__radio__active {
  height: 14px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.good-img__radio-color .__radio-black {
  background-color: #373737;
}
.good-img__radio-color .__radio-yellow {
  background-color: #fdd055;
}
.good-img__radio-color .__radio-white {
  background-color: #f6fff8;
}

.constructor__settings {
  padding: 30px;
  width: 100%;
}

.settings__good-tipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.settings__good-tipe input {
  display: none;
}
.settings__good-tipe .good-tipe__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.settings__good-tipe .good-tipe__li::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 20px;
  background-color: #fdd055;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 2px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.settings__good-tipe .good-tipe__li:hover::before {
  width: 70%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.settings__good-tipe .good-tipe__li.good-tipe__active::before {
  width: 70%;
}
.settings__good-tipe .good-tipe__li .good-tipe__img {
  display: inline-block;
  width: 28px;
  height: 100%;
  margin-right: 8px;
}
.settings__good-tipe .good-tipe__li .good-tipe__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

@media (max-width: 501px) {
  .good-tipe__li {
    margin-bottom: 15px;
  }
}
.settings__print-position {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10px;
}
.settings__print-position .__print-position__radio-center-element {
  margin: 0 10xp 0px 10px;
}
.settings__print-position input {
  display: none;
}
.settings__print-position .print-position__radio {
  width: auto;
  border-radius: 20px;
  -webkit-box-shadow: -2px -2px 5px #ccc, -2px -2px 5px #ccc inset;
          box-shadow: -2px -2px 5px #ccc, -2px -2px 5px #ccc inset;
  text-wrap: nowrap;
  padding: 1rem 2rem;
  font-size: 22px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  margin: 0 10px 10px 10px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.settings__print-position .print-position__radio:hover {
  -webkit-box-shadow: 2px 2px 10px #ccc;
          box-shadow: 2px 2px 10px #ccc;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.settings__print-position .print-position__radio.print-position__radio__active {
  -webkit-box-shadow: 2px 2px 10px #ccc;
          box-shadow: 2px 2px 10px #ccc;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.settings__print-position .print-position__radio .print-position__img {
  display: inline-block;
  width: 25px;
  height: 100%;
  margin-right: 8px;
}
.settings__print-position .print-position__radio .print-position__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

@media (max-width: 991px) {
  .settings__print-position {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .print-position__radio {
    width: 100%;
    text-align: center;
  }
}
.hr {
  display: block;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.settings_add-text {
  margin-bottom: 20px;
}

.add-text__input {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.add-text__input label {
  display: inline-block;
  margin-bottom: 20px;
}
.add-text__input input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  border: solid 1px #2b2727;
  border-radius: 10px;
}

.add-text__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.add-text__params label {
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}
.add-text__params .fs-container__input {
  border: solid 1px #2b2727;
  border-radius: 10px;
  padding: 10px;
}
.settings__goods-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}
.settings__goods-size input {
  display: none;
}
.settings__goods-size .goods-size__label {
  padding: 10px 20px;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: -2px -2px 5px #ccc, -2px -2px 5px #ccc inset;
          box-shadow: -2px -2px 5px #ccc, -2px -2px 5px #ccc inset;
}
.settings__goods-size .goods-size__label:hover {
  -webkit-box-shadow: 2px 2px 10px #ccc;
          box-shadow: 2px 2px 10px #ccc;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.settings__goods-size .goods-size__label.goods-size__label__active {
  -webkit-box-shadow: 2px 2px 10px #ccc;
          box-shadow: 2px 2px 10px #ccc;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

@media (max-width: 396px) {
  .settings__goods-size label {
    padding: 10px 10px;
  }
}
.settings__goods-count {
  margin-bottom: 20px;
}
.settings__goods-count .goods-count-slider .slider__label {
  margin-right: 20px;
}
.settings__goods-count .slider__number-input {
  padding: 0px 10px 2px 10px;
  border-bottom: solid 1px #2b2727;
  width: 80px;
}
.settings__goods-count #slider__range-counter {
  margin-right: 10px;
}

#slider__range-counter {
  -webkit-appearance: none; /* Прибираємо стандартний стиль */
  -moz-appearance: none;
       appearance: none;
  width: 60%; /* Займає всю ширину батьківського елемента */
  height: 6px;
  border: 2px solid #676767; /* Обводка сірого кольору */
  border-radius: 5px; /* Скруглені краї */
  outline: none; /* Прибираємо стандартний контур */
}

#slider__range-counter::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 2px solid #e4ab0e; /* Жовта обводка */
  border-radius: 50%;
  background-color: transparent; /* Прозорий фон */
  cursor: pointer;
}

#slider__range-counter::-moz-range-thumb {
  /* Стилі для Firefox */
  width: 16px;
  height: 16px;
  border: 2px solid yellow;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

#slider__range-counter::-ms-thumb {
  /* Стилі для Internet Explorer та Edge */
  width: 16px;
  height: 16px;
  border: 2px solid yellow;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.settings__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
}
.settings__price .price__reset {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.settings__price .price__reset:hover {
  background-color: rgba(253, 208, 85, 0.3803921569);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.settings__price .price {
  width: 100%;
  margin-right: 15px;
  letter-spacing: 2px;
  position: relative;
}
.settings__price .price::before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.settings__price .price, .settings__price .price__value {
  font-size: 22px;
  font-weight: 500;
}
.settings__price .price__value {
  position: absolute;
  right: 0;
  color: #fdd055;
  letter-spacing: 1px;
  font-weight: 600;
}

@media (max-width: 931px) {
  .constructor__good-img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 700px;
  }
  .constructor__good-img img {
    width: 100%;
    height: 100%;
    -o-object-position: center;
       object-position: center;
  }
  .constructor__body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .constructor__body:hover {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .body__constructor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.constructor__purchase {
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 10px;
  font-size: 16px;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 40px;
}
.constructor__purchase.constructor__purchase__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register__name, .register__email, .register__phone {
  padding: 10px 40px;
}
.register__name input, .register__email input, .register__phone input {
  width: 100%;
}

.email-input, .name-input {
  padding: 10px 0;
  border-bottom: 1px solid #2b2727;
  font-size: 18px;
}

.phone__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.phone__input {
  border-bottom: 1px solid #2b2727;
  font-size: 18px;
  padding: 10px 0;
}

.phone__index {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.5rem;
          flex: 0 0 3.5rem;
  font-size: 18px;
  border-bottom: 1px solid #2b2727;
}

.purchase__register {
  width: 50%;
  margin-right: 50px;
}

.pay__qr-code {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  text-align: center;
}
.pay__qr-code img {
  width: 80%;
}

.pay__subtitle {
  font-size: 24px;
  text-align: center;
}

.constructor__submit .submit__button {
  width: 100%;
  padding: 20px 0;
  background-color: #fdd055;
  color: white;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.constructor__submit .submit__button:hover {
  background-color: #ffd96f;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.error-message {
  color: rgb(255, 143, 143);
}

@media (max-width: 752px) {
  .constructor__purchase {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .purchase__register {
    margin: 0;
    width: 100%;
  }
  .purchase__pay {
    margin-top: 20px;
  }
}
@media (max-width: 519px) {
  .register__email, .register__name, .register__phone {
    padding: 10px 0px;
  }
  .goods-size__label {
    font-size: 16px;
    margin: 0 5px;
    margin-bottom: 10px;
  }
  .settings__goods-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
