footer {
    background-color: #151a1f;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0 auto;
}

.footer__space-block {
    background-image: url(../imgs/fonts/font-image_3.png);
    height: 12vh;
    width: 100%;
    background-attachment: fixed;
}
.footer__content {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content__info {
    display: block;
    padding: 30px 0px 30px 0px;
    flex-wrap: wrap;
    min-width: 50%;
    margin-right: 15px;
}
.info__about {
    display: flex;
    max-height: max-content;
    margin-bottom: 50px;

    .about__logo {
        object-fit: cover;
        object-position: center;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 50px;
        .logo__img {
            margin-right: 10px;
            img {
                width: 50px;
                filter: invert(1);
                transform: rotate(-15deg);
            }
        }
        .logo__title {
            font-size: 2.3rem;
        }
    }

    .about__phone-number {
        font-size: 1.15rem;
        width: 100%;
        display: flex;
        text-wrap: nowrap;
        align-items: end;
        .phone-number__numbers {

        }
    }
}
.info__about, .info__columns {
    // max-width: 50%;
}
.info__columns {
    display: flex;
}
.info__buyer {
    margin-right: 60px;
    max-width: max-content;
    text-wrap: nowrap;
}
.buyer__title, .shop__title {
    margin-bottom: 20px;
    color: #acacac;
    font-size: 1.6rem;
    font-weight: 400;
}
.buyer__lis {
}
.lis__li {
    line-height: 20px;
    a {
        color: #ffffff;
    }
}
.info__shop {
    max-width: max-content;
    text-wrap: nowrap;
}
.shop__title {
}
.shop__lis {
}
.footer-info__other {
    max-width: 40%;
}
.other__social-networks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0 auto 10px auto;
    padding: 20px 10px;
    .sotial-networks__network {
        object-fit: cover;
        object-position: center;
        width: 60px;
        border-radius: 50%;
        border: solid 1px #ffbe0b;
        padding: 5%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -100px;
            height: 100px;
            width: 100px;
            background-color: #e4ab0e;
            transition: all 200ms ease-in;
        }
        &:hover .network__image {
            // transform: rotateY(360deg);
            // transition: all 400ms ease-in;
            animation: animateSocialNetworks 300ms ease-in-out 0ms 1 normal;
        }
        &:hover::before {
            transform: translateY(-60px);
            transition: all 300ms ease-in;
        }
    }
    .network__image {
        width: 100%;
        filter: invert(1);
        transition: all 300ms ease-in;
    }
}

@keyframes animateSocialNetworks {
    0%{}
    50% {
        transform: rotateY(60deg);
    }
    75%{
        transform: rotateY(-30deg);
    }
    100%{
        transform: rotateY(0);
    }
}
    

.other__bunk {
    display: flex;
    .bunk__logo {
        margin: 0 15px 0 8px;
        object-fit: cover;
        object-position: center;
        .logo__image {
            filter: invert(1);
        }
    }
}

.footer_copyright {
    width: 100%;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
    .copyright__text {
        margin: 0 auto;
    }
}

@media(max-width: 1320px) {
    .footer__content{
        .content__info {
            padding: 30px 0px 30px 30px;
        }
    }
}

@media(max-width: 794px) {
    .content__info {
        margin-right: 0;
    }
    .footer-info__other {
        min-width: 100%;
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
        .other__social-networks {
            width: 50%;
            margin: 0 0;
            justify-content: center;

        }
        .other__bunk {
            max-width: max-content;
            align-items: center;
        }
    }
    
}

@media(max-width: 581px){
    .content__info {
        padding-left: 0;
    }
    .footer-info__other {
        padding-left: 0;
    }
    .sotial-networks__network{
        width: 70px;
    }
    .footer__content{
        .content__info {
            padding: 30px 0px 30px 40px;
        }
    }
}
@media(max-width: 509px){
    .footer-info__other {
        display: block;
        .other__social-networks, .other__bunk {
            width: 100%;
        }
        .other__bunk {
            margin: 0 auto;
        }
    }
    .other__social-networks {
        .sotial-networks__network{
            padding: 15px;
        }
    }
}

@media(max-width: 420px){
    .content__info {
        width: 100%;
        .info__about {
            display: block;
            .about__logo, .about__phone-number {
                margin: 0;
            }
            .about__logo {
                margin-bottom: 20px;
            }
        }
    }
    .info__columns {
        display: block;
        .info__buyer, .info__shop {
            margin: 0;
            width: 100%;
        }
        .buyer__title, .shop__title {
            position: relative;
            display: block;
            width: 200px;
            padding: 5px;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 24px;
                width: 24px;
                background-image: url(../imgs/icons/angle-down.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 100%;
                filter: invert(0.6);
            }
        }
        .buyer__lis, .shop__lis {
            display: none;
            margin: 0 0 10px 5px;
            &.info__lis__active {
                display: block;
            }
        }
    }
}

@media(max-width: 376px){
    .content__info {
        padding: 30px 20px 30px 20px;
    }
}
