.popup__purchase {
    background-color: #cccccc8c;
    visibility: hidden;
    opacity: 0;
    top: -100%;
    transition: opacity 0.8s ease-in-out, visibility 0s 0.8s;

}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0px;
}
.popup__body {
    background-color: white;
    padding: 30px 50px;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
    &.__popup__body__animate{
        transform: perspective(600px) translate(0, -100%) rotateX(45deg);
        transition: all 0.8s ease-in-out;
    }
}
.popup__content {
    text-align: center;
}
.popup__mark {
    text-align: center;
    margin-bottom: 10px;
    img {
        max-width: 100px;
    }
}
.popup__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.popup__subtitle {
}


.popup__purchase.popup__open {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.8s ease-in-out, visibility 0s 0s;
}

.popup__body {
    background-color: white;
    padding: 30px 50px;
    border-radius: 15px;
    transform-origin: top;
    transform: perspective(600px) translate(0, -100%) rotateX(70deg);
    transition: transform 0.8s ease-in-out;
}

.popup__body.popup__body__animate {
    transform: perspective(600px) translate(0, 0) rotateX(0deg);
    transition: transform 0.8s ease-in-out;
}







.popup__feedback {
    background-color: #151a1fab;
    visibility: hidden;
    opacity: 0;
    top: 0;
    transform: translateY(-100%);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, visibility 0s 0.8s;
}

.popup__feedback.__popup__feedback__open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.popup__body2.__popup__body__animate {
    transform: perspective(600px) translate(0, 0) rotateX(0deg);
    transition: transform 0.5s ease-in-out;
}
.popup__body2 {
    background-color: #151a1f;
    padding: 30px 50px;
    border-radius: 15px;
}
.popup__content {
}
.popup__logo-about {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .logo__img {
        margin-right: 10px;
        img {
            width: 50px;
            filter: invert(1);
            transform: rotate(-15deg);
        }
    }
    .logo__title {
        font-size: 2.3rem;
    }
}
.about__logo {
}
.logo__img {
}
.logo__title {
}
.about__phone-number {
    display: flex;
    flex-wrap: nowrap;
    color: white;
}
.phone-number__numbers {
}
.other__social-networks {
}
.sotial-networks__network {
}
.network__image {
}
