@import "reset_styles.scss";
@import "adaptive.scss";
@import "fonts.scss";
@import "header.scss";
@import "main_goods.scss";
@import "constructor.scss";
@import "footer.scss";
@import "popups.scss";
@import "may-like.scss";


body {
    font-family: "Rubik", sans-serif;
    position: relative;
}
.stop-sctoll {
    overflow: hidden;
}

// * {
//     &:last-child {
//         margin-bottom: 0px;
//     }
// }
main {
    flex: 1 1 100%;
}